@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .bg-grid {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(16, 185, 129, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(16, 185, 129, 0.05) 1px, transparent 1px);
  }
  .glass {
    background: rgba(6, 78, 59, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(16, 185, 129, 0.1);
  }
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-emerald-400 to-teal-300;
  }
}
